# Python cache
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# PyCharm
.idea/

# Reports
allure-report/
allure-results/
reports/
--clean/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/